.flex{
  display: flex;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-inline{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-inline-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}
.center{
  align-items: center;
}
.flex-1{
  flex:1
}
.right{
  float: right;
}
.bold{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.txt-blue{
  color: #409EFF;
}
.txt-grey{
  color: #909399;
}
.txt-red{
  color:#F56C6C
}
.txt-green{
  color:#67C23A 
}
.font-34{
  font-size: 34px;
}
.font-32{
  font-size: 32px;
}
.font-28{
  font-size: 28px;
}
.font-26{
  font-size: 26px;
}
.font-22{
  font-size: 22px;
}
.font-20{
  font-size: 20px;
}
.font-15{
  font-size: 15px;
}
.font-14{
  font-size: 14px;
}
.font-12{
  font-size: 12px;
}
.m-t-10{
  margin-top: 10px;
}
.m-tb-10{
  margin: 10px 0;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-30{
  margin-top: 30px;
}
.m-tb-20{
  margin: 20px 0;
}
.m-tb-40{
  margin: 40px 0;
}
.m-t-40{
  margin-top: 40px ;
}
.m-t-60{
  margin-top: 60px ;
}
.m-t-80{
  margin-top: 80px ;
}
.m-b-5{
  margin-bottom: 5px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-15{
  margin-bottom: 15px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-l-15{
  margin-left: 15px;
}
.m-l-5{
  margin-left: 5px;
}
.m-r-10{
  margin-right: 10px;
}
.p-tb-20{
  padding: 20px 0;
}
// fieldset {
//   border-radius: 3px;
//   padding: 10px 10px !important;
//   border-color: #f2f2f2;
//   border-width: 1px;
//   // margin-bottom: 20px;
// }